<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Db"
       providerName="Microsoft.Data.SqlClient"
       connectionString="Server=WIN-J9S0JJK5DN4\SQLEXPRESS;Database=MemoVegetable;Trusted_Connection=True;TrustServerCertificate=true;" />
  </connectionStrings>
</configuration>
